@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    margin:0;
    font-family: "Roboto", sans-serif;
}
header{
    height:127px;
    display:flex;
    align-items:center;
    padding:0 20%;
    justify-content: space-between ;
}
header a{
    margin-right:25px ;
}
.logo{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 45px;
}
  article{
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: 
    flex-end;
    }
.one{
    background-color: beige;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 80px 0;
}
.text{
    margin: 50 px;
    justify-content:right;
    font-size: larger;
    
}
.two{
    background-color:bisque;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 80px 0;
    text-align:center;
}
.text2{
    margin: 50px;
    justify-content: center;
    font-size: larger;
    text-align: center;
}
.three{
    background-color:azure;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 80px 0;
    text-align: center;
}
.text3{
    margin: 50px;
    justify-content: center;
    font-size: larger;
    text-align: center;
}
